.contact-page {
  background: linear-gradient(to bottom, #ffffff 50%, #0e1f36 50%);
  padding-bottom: 80px;
}

.contact-header {
  text-align: center;
  padding: 70px 20px 40px;
}

.contact-header h1 {
  font-size: 32px;
  font-weight: 700;
  color: #1d2a3a;
}

.contact-wrapper {
  max-width: 1100px;
  margin: auto;
  display: flex;
  gap: 40px;
  padding: 20px;
  flex-wrap: wrap;
  align-items: flex-start;
}

/* FORM */
.contact-form {
  flex: 1;
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}

.contact-form h3 {
  margin-bottom: 20px;
}

.input-row {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: 14px;
}

.contact-form textarea {
  height: 100px;
  resize: none;
}

.contact-form button {
  background: #0e2a66;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.contact-form button:hover {
  background: #163c8c;
}

/* INFO BOX */
.contact-info {
  flex: 0.8;
  background: #0e2a66;
  color: white;
  padding: 30px;
  border-radius: 12px;
}

.contact-info h3 {
  margin-bottom: 20px;
}
.info-item {
  display: flex ;
  align-items: center;
  gap: 12px;
  margin-bottom: 15px;
}
.phone-container{
  display:flex;
  flex-direction:column;
  gap:10px;
}

.phone-row{
  display:grid;
  grid-template-columns: auto 1fr 1fr;
  align-items:center;
  gap:15px;
}

.phone-icon{
  font-size:18px;
}

.phone-row a{
  color:#fff;
  text-decoration:none;
  font-weight:500;
}

.phone-row a:hover{
  text-decoration:underline;
}